* {
    --maincolor: #F4CE14;
    --secondarycolor: #495E57;
}
body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--secondarycolor);
    font-size: 2rem;
}
/* start headder */
header > img {
    width: 5%;
}

header {
    text-align: center;
}

header p {
    display: inline;
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 4rem;
    padding: 0 20px;
}
h1:hover {
    color: var(--maincolor);
}
/* end headder */
/* start nav */
nav {
    background-color: black;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav li a {
    border-radius: 15px;
    text-decoration: none;
    color: #EDEFEE;
    padding: 0 50px;
}
nav li a:hover {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
}
/* end nav */
/* start offer */
.offer {
    display: block;
    background-color: var(--maincolor);
    color: var(--secondarycolor);
    border-radius: 15px;
}

.offer h2,p {
    padding: 20px;
    margin: 0;
}
/* end offer */
/* start article */
section {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section article {
    width: 400px;
    box-sizing: border-box;
    border: 5px solid var(--secondarycolor);
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
}
section article img {
    width: 50%;
}
section article a {
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
}
section article a:hover {
    background-color: var(--secondarycolor);
    color: var(--maincolor);
}
/* end article */
/* start footer */
footer {
    display: flex;
    justify-content: space-between;
}

footer > img {
    width: 5%;
}
/* end footer */
span a {
    text-decoration: none;
    height: 30px;
    width: 30px;
    background-color: black;
    border: 5px solid black;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
}

span a:hover {
    background-color: var(--secondarycolor);
    border-color: var(--secondarycolor);
    color: var(--maincolor);
}
